.accordionModal {
    margin: 10px 140px;
  }
  
  .modal {
    position: absolute;
    bottom: 0px;
    background-color: aqua;
    right: 0px;
    height: 100px;
  }
  
  .spinner-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  