.list-autos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 950px;
    margin: auto;
    width: 80%;
    
   
}


@media (max-width: 600px) {
    .list-autos { 
       width: 100%;
       display: flex;
       flex-flow: column;
       justify-content: center;
       align-items: center;
      
    }
}
