   .AboutPage {
    padding: 30px;
    /* font-family: 'Source Sans Pro', sans-serif; */
   }
   
   .jumbotron {
    /* background-image: linear-gradient(45deg, #6aaacc, #90bbce); */
    background-image: url('https://media-cms.vrbo.com/images/jgswy4nbaha7/51ApMDGOtCkPwL55afTdb5/7704cac0c352c3494369011575734fa3/hero.jpg?w=2800&h=1149&q=medium&impolicy=fcrop');
    color: white;
    margin-bottom: 30px;
    padding: 200px 85px;
    font-family: 'Dancing Script', cursive;
   }
   
   .jumbotron h1 {
    font-size: 84px;
    font-weight: bolder;
   }
   
   .container-fluid {
     background-image: linear-gradient(45deg, #6aaacc, #90bbce);
    padding: 32px;
    margin-left: 100px;
    margin-right: 100px;
   }
   
   .container-fluid h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
   }
   
   .container-fluid h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;

   }
   
   .container-fluid p {
    font-size: 18px;
    margin-bottom: 20px;
   }
   
   .container-fluid .row {
    animation: moveIn 2s ease-in-out;
   }
   
   .first-section {
    background-color: #f8f8f8; /* Change to your preferred background color */
    padding: 30px;
  }
   .second-section {
    background-color: #f8f8f8; /* Change to your preferred background color */
    padding: 30px;
    }



   .img-responsive {
    display: block;
    height:10px;
    width: 10px;
   }

   .logo {
    font-size: 150px;
    padding-left: 120px;
  }

   
.bg-grey {
  background-color: #f6f6f6;
}

.logo {
  font-size: 200px;
}
.col-md-2 {
  margin-left: 2%;
}

.Team_Container {
  position: absolute;
  left: 3%;
}
.Team {
  position: relative;
}

.Team h1 {
  margin-bottom: 5%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 1000px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .col-md-2 img {
    height: 500px;
    left: 0%;
    position: relative;
  }
}

.values h2 {
  color: black;
  font-size: larger;
}
.values h4 {
  color: black;
  font-size: larger;
}

.values p {
  color: black;
  font-size: larger;
}